/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 42%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0; }

a {
  text-decoration: none; }

::-moz-selection {
  color: #fff;
  background-color: #55c57a; }

::selection {
  color: #fff;
  background-color: #55c57a; }

::-webkit-input-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

::-ms-input-placeholder {
  color: #999; }

::placeholder {
  color: #999; }

.btn {
  display: inline-block;
  background-color: #fff;
  font-size: 2rem;
  text-decoration: none;
  color: #777;
  -webkit-transition: all .07s ease-in;
  -o-transition: all .07s ease-in;
  transition: all .07s ease-in;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .btn--round {
    padding: 1.5rem 6rem;
    text-transform: uppercase;
    border-radius: 30rem; }
  .btn--round:hover {
    -webkit-transform: translateY(-5px) translateZ(0);
            transform: translateY(-5px) translateZ(0);
    -webkit-box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.4); }
  .btn-squared {
    padding: 0 .5rem;
    font-size: 2rem;
    line-height: 4rem;
    color: #55c57a;
    border-bottom: 1px solid #55c57a;
    background-color: transparent;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in; }
  .btn-squared:hover {
    color: #fff;
    background-color: #55c57a;
    -webkit-transform: translateY(-0.3rem) translateZ(0);
            transform: translateY(-0.3rem) translateZ(0);
    -webkit-box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.3); }
  .btn--green {
    color: #fff;
    background-color: #55c57a; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    background: transparent url("../img/video.jpeg") no-repeat 0 0;
    background-size: cover; }
    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
      .bg-video__content {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; } }

.header {
  position: relative;
  width: 100%;
  padding-top: 22rem;
  padding-bottom: 20rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero-small.jpg");
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  z-index: 80; }
  @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      padding-bottom: 15rem; } }
  .header__label {
    margin-bottom: 7rem;
    color: #fff;
    text-transform: uppercase; }
  .header__label-main {
    margin: 0;
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: 0.5rem; }
  .header__label-secondary {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.15rem; }

.main-logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 8rem; }

.menu__btn {
  position: fixed;
  top: 5rem;
  right: 5rem;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .menu__btn-icon {
    position: relative;
    display: block;
    width: 36px;
    height: 2px;
    margin: 30px auto 0;
    background-color: #000;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
    .menu__btn-icon::after, .menu__btn-icon::before {
      content: '';
      position: absolute;
      display: block;
      width: 36px;
      height: 2px;
      background-color: #000;
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out; }
    .menu__btn-icon::after {
      top: -10px; }
    .menu__btn-icon::before {
      bottom: -10px; }
  .menu__btn:hover .menu__btn-icon::after {
    top: -12px; }
  .menu__btn:hover .menu__btn-icon::before {
    bottom: -12px; }

.menu__input {
  display: none; }
  .menu__input:checked ~ .navigation-bg {
    -webkit-transform: scale(100);
        -ms-transform: scale(100);
            transform: scale(100); }
  .menu__input:checked ~ .menu__btn .menu__btn-icon {
    background-color: transparent; }
  .menu__input:checked ~ .menu__btn .menu__btn-icon::after {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__input:checked ~ .menu__btn .menu__btn-icon::before {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .menu__input:checked ~ .navigation {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }

.navigation-bg {
  position: fixed;
  top: 7rem;
  right: 7rem;
  width: 42px;
  height: 42px;
  background-image: -webkit-radial-gradient(#7ed56f, #28b485);
  background-image: -o-radial-gradient(#7ed56f, #28b485);
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  z-index: 90;
  -webkit-transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation {
  position: fixed;
  top: 24rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  z-index: 1500;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.8s cubic-bezier(0.75, -0.31, 0.25, 1.29);
  -o-transition: all 0.8s cubic-bezier(0.75, -0.31, 0.25, 1.29);
  transition: all 0.8s cubic-bezier(0.75, -0.31, 0.25, 1.29); }
  .navigation__list {
    list-style: none;
    text-align: center; }
  .navigation__number {
    margin-right: 3rem; }
  .navigation__item-wrapper {
    margin-bottom: 1rem; }
  .navigation__item {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 3.5rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
    background-image: -o-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in; }
  .navigation__item:hover {
    color: #55c57a;
    background-position: 100%;
    -webkit-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
            transform: translateX(1rem); }

.description {
  margin-top: -20rem;
  padding: 25rem 0 40rem;
  text-align: center;
  background-color: #f7f7f7; }
  .description__title {
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #55c57a; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .description__title {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
        background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
        background-image: -o-linear-gradient(left, #7ed56f, #28b485);
        background-image: linear-gradient(to right, #7ed56f, #28b485); } }
  .description__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5rem;
    padding: 0 14%; }
  .description__about {
    width: 100%;
    text-align: left;
    margin-bottom: 10rem; }
  .description__article {
    font-size: 1.8rem;
    margin-bottom: 4rem; }
  .description__article-title {
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .description__imgs {
    position: relative;
    width: 100%; }
  .description__imgs-item {
    position: absolute;
    width: 40%;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in; }
    .description__imgs-item:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      outline: 1.5rem solid #55c57a;
      outline-offset: 2rem;
      z-index: 20; }
    .description__imgs-item-1 {
      top: 0;
      left: 0; }
    .description__imgs-item-2 {
      top: 10px;
      right: 0; }
    .description__imgs-item-3 {
      top: -10px;
      left: 0;
      right: 0;
      margin: 0 auto; }

.features {
  padding: 10rem 0;
  margin-top: -20rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg");
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: skewY(-6.5deg);
      -ms-transform: skewY(-6.5deg);
          transform: skewY(-6.5deg); }
  .features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: skewY(6.5deg);
        -ms-transform: skewY(6.5deg);
            transform: skewY(6.5deg); }
  .features__item {
    width: 80%;
    padding: 4.5rem 3.5rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .features__item:last-child {
      margin-right: 0; }
    .features__item:hover {
      -webkit-transform: scale(1.05) translateY(-2rem);
          -ms-transform: scale(1.05) translateY(-2rem);
              transform: scale(1.05) translateY(-2rem); }
  .features__item-icon {
    height: 7.5rem;
    width: 40%;
    margin-bottom: 5rem;
    fill: #55c57a; }
  .features__item-title {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .features__item-article {
    font-size: 1.8rem; }

.tours {
  padding: 20rem 0 10rem;
  margin-top: -12rem;
  text-align: center;
  background-color: #f7f7f7; }
  .tours__title {
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #55c57a;
    letter-spacing: 0.5rem; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .tours__title {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
        background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
        background-image: -o-linear-gradient(left, #7ed56f, #28b485);
        background-image: linear-gradient(to right, #7ed56f, #28b485); } }
  .tours__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem; }
  .tours__item {
    position: relative;
    width: 90%;
    height: 55rem;
    margin-bottom: 5rem;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px; }
    .tours__item:last-child {
      margin-right: 0; }
  .tours__item:hover .tours__card--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .tours__item:hover .tours__card--back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  .tours__card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57rem;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 5px;
    overflow: hidden; }
    .tours__card--front {
      padding-bottom: 10rem;
      background-color: #fff; }
    .tours__card--back {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 5rem;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-clip-path: none;
              clip-path: none; }
      .tours__card--back-orange {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: -webkit-linear-gradient(left top, #ffb900, #ff7730);
        background-image: -o-linear-gradient(left top, #ffb900, #ff7730);
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .tours__card--back-green {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
        background-image: -webkit-linear-gradient(left top, #7ed56f, #28b485);
        background-image: -o-linear-gradient(left top, #7ed56f, #28b485);
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .tours__card--back-blue {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
        background-image: -webkit-linear-gradient(left top, #2998ff, #5643fa);
        background-image: -o-linear-gradient(left top, #2998ff, #5643fa);
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .tours__card-image {
    height: 27rem;
    margin-bottom: 4rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    @supports (background-blend-mode: screen) {
      .tours__card-image {
        background-blend-mode: screen; } }
    .tours__card-image--orange {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.4)), to(rgba(255, 119, 48, 0.4))), url(../img/nat-5.jpg);
      background-image: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.4), rgba(255, 119, 48, 0.4)), url(../img/nat-5.jpg);
      background-image: -o-linear-gradient(left top, rgba(255, 185, 0, 0.4), rgba(255, 119, 48, 0.4)), url(../img/nat-5.jpg);
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.4), rgba(255, 119, 48, 0.4)), url(../img/nat-5.jpg);
      background-size: cover;
      background-position: top; }
      @supports (background-blend-mode: screen) {
        .tours__card-image--orange {
          background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
          background-image: -webkit-linear-gradient(left top, #ffb900, #ff7730), url(../img/nat-5.jpg);
          background-image: -o-linear-gradient(left top, #ffb900, #ff7730), url(../img/nat-5.jpg);
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); } }
    .tours__card-image--green {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.4)), to(rgba(40, 180, 133, 0.4))), url(../img/nat-6.jpg);
      background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url(../img/nat-6.jpg);
      background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url(../img/nat-6.jpg);
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url(../img/nat-6.jpg);
      background-size: cover;
      background-position: top; }
      @supports (background-blend-mode: screen) {
        .tours__card-image--green {
          background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
          background-image: -webkit-linear-gradient(left top, #7ed56f, #28b485), url(../img/nat-6.jpg);
          background-image: -o-linear-gradient(left top, #7ed56f, #28b485), url(../img/nat-6.jpg);
          background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); } }
    .tours__card-image--blue {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.4)), to(rgba(86, 67, 250, 0.4))), url(../img/nat-7.jpg);
      background-image: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.4)), url(../img/nat-7.jpg);
      background-image: -o-linear-gradient(left top, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.4)), url(../img/nat-7.jpg);
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.4)), url(../img/nat-7.jpg);
      background-size: cover;
      background-position: top; }
      @supports (background-blend-mode: screen) {
        .tours__card-image--blue {
          background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
          background-image: -webkit-linear-gradient(left top, #2998ff, #5643fa), url(../img/nat-7.jpg);
          background-image: -o-linear-gradient(left top, #2998ff, #5643fa), url(../img/nat-7.jpg);
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); } }
  .tours__card-title {
    position: absolute;
    top: 15rem;
    right: 3rem;
    width: 25rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    z-index: 20; }
    .tours__card-title--orange {
      padding: 1rem 1.5rem;
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8)));
      background-image: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
      background-image: -o-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
      -webkit-box-decoration-break: clone;
              box-decoration-break: clone; }
    .tours__card-title--green {
      padding: 1rem 1.5rem;
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
      background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
      background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
      -webkit-box-decoration-break: clone;
              box-decoration-break: clone; }
    .tours__card-title--blue {
      padding: 1rem 1.5rem;
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
      background-image: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
      background-image: -o-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
      -webkit-box-decoration-break: clone;
              box-decoration-break: clone; }
  .tours__card-details {
    width: 70%;
    margin: 0 auto;
    list-style: none; }
  .tours__card-details-item {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #eee; }
    .tours__card-details-item:last-child {
      border-bottom: none; }
  .tours__card-back-word {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .tours__card-price {
    color: #fff;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem; }
  .tours__btn {
    margin-bottom: 5rem; }

.reviews {
  position: relative;
  padding: 15rem 10%;
  text-align: center; }
  .reviews__title {
    margin-bottom: 8rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #55c57a;
    letter-spacing: 0.5rem; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .reviews__title {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
        background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
        background-image: -o-linear-gradient(left, #7ed56f, #28b485);
        background-image: linear-gradient(to right, #7ed56f, #28b485); } }
  .reviews__item {
    position: relative;
    width: 80%;
    margin: 0 auto 8rem;
    padding: 6rem 5%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0); }
    .reviews__item::after {
      content: "";
      display: table;
      clear: both; }
  .reviews__item:hover .reviews__image {
    -webkit-transform: translateY(3rem) scale(1.6);
        -ms-transform: translateY(3rem) scale(1.6);
            transform: translateY(3rem) scale(1.6);
    -webkit-filter: blur(3px) brightness(90%);
            filter: blur(3px) brightness(90%); }
  .reviews__item:hover .reviews__image-name {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; }
  .reviews__image-wrapper {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 0 auto 5rem;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0); }
  .reviews__image {
    -webkit-transform: translateY(3rem) scale(2);
        -ms-transform: translateY(3rem) scale(2);
            transform: translateY(3rem) scale(2);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .reviews__image-name {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .reviews__wrapper {
    text-align: left;
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg); }
  .reviews__heading {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .reviews__review {
    font-size: 1.8rem; }

.book {
  padding: 18rem 10%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(top left, #7ed56f, #28b485);
  background-image: -o-linear-gradient(top left, #7ed56f, #28b485);
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  .book__inner {
    padding: 7rem 5rem;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg);
    background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg);
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .book__main {
    width: 100%; }
  .book__form {
    width: 100%; }
  .book__heading {
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #55c57a;
    letter-spacing: 0.3rem; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .book__heading {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
        background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
        background-image: -o-linear-gradient(left, #7ed56f, #28b485);
        background-image: linear-gradient(to right, #7ed56f, #28b485); } }
  .book__section {
    position: relative;
    margin-bottom: 6rem; }
  .book__input {
    width: 100%;
    font-size: 2rem;
    padding: 2.1rem 3rem 2rem;
    border: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: 3px; }
    .book__input:placeholder-shown + .book__input-label {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-4rem);
          -ms-transform: translateY(-4rem);
              transform: translateY(-4rem); }
    .book__input:focus {
      -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
              box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid #55c57a; }
      .book__input:focus:invalid {
        border-bottom: 3px solid #ff7730; }
  .book__input-label {
    position: absolute;
    bottom: -3rem;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-left: 3.1rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .book__radiobtn {
    display: none; }
    .book__radiobtn:checked + .book__radiobtn-label::before {
      position: absolute;
      top: 6px;
      left: 11px;
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #55c57a; }
  .book__radiobtn-label {
    display: block;
    position: relative;
    padding-left: 8rem;
    margin-bottom: 3rem;
    font-size: 2.1rem;
    cursor: pointer; }
    .book__radiobtn-label:last-child {
      margin-right: 0; }
    .book__radiobtn-label::after {
      position: absolute;
      content: '';
      top: -5px;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 6px solid #55c57a; }

.footer {
  padding: 10%;
  text-align: center;
  background-color: #333; }
  .footer__logo {
    display: inline-block;
    margin-bottom: 5rem; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
    padding-top: 2rem;
    list-style: none;
    border-top: 1px solid #999; }
  .footer__menu-item-wrap {
    display: inline-block;
    margin-right: 5%; }
    .footer__menu-item-wrap:last-child {
      margin-right: 0; }
  .footer__menu-item {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }
    .footer__menu-item:hover {
      color: #55c57a; }
  .footer__copyright {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    padding-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    color: #fff;
    text-align: justify;
    border-top: 1px solid #999; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000; }
  .popup--open {
    display: block; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 3px; }
  .popup__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%; }
  .popup__terms-wrap {
    padding: 7rem; }
  .popup__terms-heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
    background-image: -o-linear-gradient(left, #7ed56f, #28b485);
    background-image: linear-gradient(to right, #7ed56f, #28b485); }
  .popup__terms-title {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    text-transform: uppercase; }
  .popup__terms {
    margin-bottom: 8rem;
    font-size: 1.5rem;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-column-rule: 1px solid #eee;
            column-rule: 1px solid #eee; }
  .popup__close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer; }
    .popup__close:hover::after, .popup__close:hover::before {
      background-color: #55c57a; }
    .popup__close::after, .popup__close::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 35px;
      height: 6px;
      background-color: #777; }
    .popup__close::after {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
    .popup__close::before {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }

.popup-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10rem 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%, transparent), url(../img/nat-8.jpg);
  background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%, transparent), url(../img/nat-8.jpg);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%, transparent), url(../img/nat-8.jpg);
  background-position: 50% 50%;
  background-size: cover; }
  .popup-small__heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
    background-image: -o-linear-gradient(left, #7ed56f, #28b485);
    background-image: linear-gradient(to right, #7ed56f, #28b485); }
  .popup-small__title {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    text-transform: uppercase; }
  .popup-small__terms {
    margin-bottom: 8rem;
    font-size: 1.7rem;
    color: #000; }
  @media screen and (min-width: 640px) {
    html {
      font-size: 50%; }
    body {
      padding: 3rem; }
    .header {
      padding-bottom: 40rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
      .header__label-main {
        letter-spacing: 3.5rem; }
    .menu__btn {
      top: 6.5rem;
      right: 6.5rem;
      width: 84px;
      height: 84px; }
      .menu__btn-icon {
        margin: 42px auto 0; }
    .navigation-bg {
      top: 8.6rem;
      right: 8.6rem; }
      .description__title {
        letter-spacing: 0.5rem;
        margin-bottom: 11rem; }
    .features {
      padding: 24rem 0; }
    .tours {
      padding: 30rem 0 20rem; }
      .tours__title {
        margin-bottom: 11rem; }
      .tours__item {
        width: 60%; }
      .tours__card-price {
        margin-bottom: 5rem; }
      .reviews__image-wrapper {
        float: left;
        margin: 0 5rem 0 0;
        -webkit-shape-outside: circle(50% at 50% 50%);
                shape-outside: circle(50% at 50% 50%); }
    .footer {
      padding-top: 5%; } }
  @media screen and (min-width: 920px) {
    html {
      font-size: 56.25%; }
    .header {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg");
      background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
      background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg"); }
      .description__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 0; }
      .description__about {
        padding-right: 10%;
        margin-bottom: 0; }
      .description__imgs-item {
        width: 60%; }
        .description__imgs-item-2 {
          top: 30px; }
        .description__imgs-item-3 {
          top: 90px; }
    .book {
      padding: 18rem 20rem; }
      .book__inner {
        padding: 8.5rem 7rem; }
      .book__main {
        margin-right: auto; }
      .book__radiobtn-label {
        display: inline-block;
        margin-right: 4rem;
        padding-left: 5rem; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 62.5%; }
      .features__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
      .features__item {
        width: 15%;
        margin-right: 5%;
        margin-bottom: 0; }
      .tours__items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      .tours__item {
        width: 25%;
        margin-right: 5%; }
      .reviews__item {
        -webkit-transform: skewX(-20deg);
            -ms-transform: skewX(-20deg);
                transform: skewX(-20deg); }
      .reviews__image-wrapper {
        -webkit-transform: skewX(20deg);
            -ms-transform: skewX(20deg);
                transform: skewX(20deg); }
      .reviews__wrapper {
        -webkit-transform: skew(20deg);
            -ms-transform: skew(20deg);
                transform: skew(20deg); }
      .book__inner {
        background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 70%, transparent 70%), url(../img/nat-10.jpg);
        background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 70%, transparent 70%), url(../img/nat-10.jpg);
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 70%, transparent 70%), url(../img/nat-10.jpg); }
      .book__main {
        width: 70%; }
      .footer__logo {
        margin-bottom: 10rem; }
      .footer__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      .footer__menu {
        margin-right: 10%; } }
  @media screen and (min-width: 1600px) {
      .book__inner {
        background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
        background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg); }
      .book__main {
        width: 45%; } }
  @media screen and (hover: none) {
        .features__item:hover {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
      .tours__item {
        position: relative;
        height: auto;
        width: 90%;
        margin-bottom: 5rem; }
      .tours__item:hover .tours__card--front {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
      .tours__item:hover .tours__card--back {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
      .tours__card {
        position: relative;
        height: auto; }
        .tours__card--back {
          position: relative;
          padding-top: 10rem;
          margin-top: -10rem;
          -webkit-clip-path: polygon(0 20%, 120% 0, 100% 100%, 0 100%);
                  clip-path: polygon(0 20%, 120% 0, 100% 100%, 0 100%);
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
      .reviews__item:hover .reviews__image {
        -webkit-transform: translateY(3rem) scale(2);
            -ms-transform: translateY(3rem) scale(2);
                transform: translateY(3rem) scale(2);
        -webkit-filter: none;
                filter: none; }
      .reviews__image-name {
        display: none; } }
