.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  z-index: 2000;

  &--open {
    display: block;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 75%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 3px;
  }

  &__images {
    flex: 0 0 40%;
  }

  &__terms-wrap {
    padding: 7rem;
  }

  &__terms-heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  }

  &__terms-title {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }

  &__terms {
    margin-bottom: 8rem;
    font-size: 1.5rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
  }

  &__close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    &:hover::after,
    &:hover::before {
      background-color: $color-primary;
    }

    &::after, &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 35px;
      height: 6px;
      background-color: $color-grey-dark;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}