.tours {
  padding: 20rem 0 10rem;
  margin-top: -12rem;
  text-align: center;
  background-color: $color-grey-light-1;

  @media screen and (min-width: 640px) {
    padding: 30rem 0 20rem;
  }

  &__title {
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 0.5rem;

    @supports ((background-clip: text) or (-webkit-background-clip: text)) {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    }

    @media screen and (min-width: 640px) {
      margin-bottom: 11rem;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__item {
    position: relative;
    width: 90%;
    height: 55rem;
    margin-bottom: 5rem;
    transform-style: preserve-3d;
    perspective: 1000px;

    &:last-child {
      margin-right: 0;
    }
    
    @media screen and (hover: none) {
      position: relative;
      height: auto;
      width: 90%;
      margin-bottom: 5rem;
    }

    @media screen and (min-width: 640px) {
      width: 60%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
      margin-right: 5%;
    }
  }

  &__item:hover &__card--front {
    transform: rotateY(-180deg);

    @media screen and (hover: none) {
      transform: none;
    }
  }

  &__item:hover &__card--back {
    transform: rotateY(0deg);

    @media screen and (hover: none) {
      transform: none;
    }
  }

  &__card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57rem;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    border-radius: 5px;
    overflow: hidden;

    @media screen and (hover: none) {
      position: relative;
      height: auto;
    }

    @media screen and (min-width: 920px) {
      // position: relative;
    }

    &--front {
      padding-bottom: 10rem;
      background-color: $color-white;
    }

    &--back {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5rem;
      transform: rotateY(180deg);
      clip-path: none;

      &-orange {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      }

      &-green {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      }

      &-blue {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      }

      @media screen and (hover: none) {
        position: relative;
        padding-top: 10rem;
        margin-top: -10rem;
        clip-path: polygon(0 20%, 120% 0, 100% 100%, 0 100%);
        transform: none;
      }
    }
  }

  &__card-image {
    height: 27rem;
    margin-bottom: 4rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    @supports (background-blend-mode: screen) {
      background-blend-mode: screen;
    }

    &--orange {
      background-image: 
        linear-gradient(to right bottom, rgba($color-secondary-light, 0.4), rgba($color-secondary-dark, 0.4)),
        url(../img/nat-5.jpg);
      background-size: cover;
      background-position: top;
      
      @supports (background-blend-mode: screen) {
        background-image: 
        linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../img/nat-5.jpg);
      }
    }

    &--green {
      background-image: 
        linear-gradient(to right bottom, rgba($color-primary-light, 0.4), rgba($color-primary-dark, 0.4)),
        url(../img/nat-6.jpg);
      background-size: cover;
      background-position: top;
      
      @supports (background-blend-mode: screen) {
        background-image: 
        linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../img/nat-6.jpg);
      }
    }

    &--blue {
      background-image: 
        linear-gradient(to right bottom, rgba($color-tertiary-light, 0.4), rgba($color-tertiary-dark, 0.4)),
        url(../img/nat-7.jpg);
      background-size: cover;
      background-position: top;
      
      @supports (background-blend-mode: screen) {
        background-image: 
        linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(../img/nat-7.jpg);
      }
    }
  }

  &__card-title {
    position: absolute;
    top: 15rem;
    right: 3rem;
    width: 25rem;
    font-size: 2.8rem;
    font-weight: 300; 
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    z-index: 20;

    &--orange {
      padding: 1rem 1.5rem;
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
      box-decoration-break: clone;
    }

    &--green {
      padding: 1rem 1.5rem;
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
      box-decoration-break: clone;
    }

    &--blue {
      padding: 1rem 1.5rem;
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.8), rgba($color-tertiary-dark, 0.8));
      box-decoration-break: clone;
    }
  }

  &__card-details {
    width: 70%;
    margin: 0 auto;
    list-style: none;
  }

  &__card-details-item {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid $color-grey-light-2;

    &:last-child {
      border-bottom: none;
    }
  }

  &__card-back-word {
    color: $color-white;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__card-price {
    color: $color-white;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem;

    @media screen and (min-width: 640px) {
      margin-bottom: 5rem;
    }
  }

  &__btn {
    margin-bottom: 5rem;
  }
}