////////////////////////////////////////////////////
////////// БАЗОВЫЕ СТИЛИ

*,
*:before,
*:after {
	margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  font-size: 42%; //1 rem = 4px; 4px/16px = 25%
  
  @media screen and (min-width: 640px) { // width > 640
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @media screen and (min-width: 920px) { // width > 920
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @media screen and (min-width: 1200px) { // width > 1200
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;

  @media screen and (min-width: 640px) {
    padding: 3rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*:active, *:hover, *:focus {
	outline: 0;
	outline-offset: 0;
}

a {
  text-decoration: none;
}

::selection {
  color: $color-white;
  background-color: $color-primary;
}

::placeholder {
  color: $color-grey-dark-2;
}
