.book {
  padding: 18rem 10%;
  background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);

  @media screen and (min-width: 920px) {
    padding: 18rem 20rem;
  }

  &__inner {
    padding: 7rem 5rem;
    margin: 0 auto;
    background-image:
      linear-gradient(105deg, rgba($color-white, 0.8), rgba($color-white, 0.8) 100%),
      url(../img/nat-10.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 920px) {
      padding: 8.5rem 7rem;
    }

    @media screen and (min-width: 1200px) {
      background-image:
        linear-gradient(105deg, rgba($color-white, 0.8), rgba($color-white, 0.8) 70%, transparent 70%),
        url(../img/nat-10.jpg);
    }

    @media screen and (min-width: 1600px) {
      background-image:
        linear-gradient(105deg, rgba($color-white, 0.8), rgba($color-white, 0.8) 50%, transparent 50%),
        url(../img/nat-10.jpg);
    }
  }

  &__main {
    width: 100%;

    @media screen and (min-width: 920px) {
      margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
      width: 70%;
    }

    @media screen and (min-width: 1600px) {
      width: 45%;
    }
  }

  &__form {
    width: 100%;
  }

  &__heading {
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 0.3rem;

    @supports ((background-clip: text) or (-webkit-background-clip: text)) {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    }
  }

  &__section {
    position: relative;
    margin-bottom: 6rem;
  }

  &__input {
    width: 100%;
    font-size: 2rem;
    padding: 2.1rem 3rem 2rem;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.1s ease-in;
    border-radius: 3px;

    &:placeholder-shown + &-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }

    &:focus {
      box-shadow: 0 20px 30px rgba($color-black, 0.2);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }

  &__input-label {
    position: absolute;
    bottom: -3rem;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-left: 3.1rem;
    transition: all 0.2s ease-in-out; 
  }

  &__radiobtn {
    display: none;

    &:checked + &-label::before {
      position: absolute;
      top: 6px;
      left: 11px;
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $color-primary;
    }
  }

  &__radiobtn-label {
    display: block;
    position: relative;
    padding-left: 8rem;
    margin-bottom: 3rem;
    font-size: 2.1rem;
    cursor: pointer;

    @media screen and (min-width: 920px) {
      display: inline-block;
      margin-right: 4rem;
      padding-left: 5rem;
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: -5px;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 6px solid $color-primary;
    }
  }
}