.description {
  margin-top: -20rem;
  padding: 25rem 0 40rem;
  text-align: center;
  background-color: $color-grey-light-1;

  &__title {
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;

    @supports ((background-clip: text) or (-webkit-background-clip: text)) {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    }

    @media screen and (min-width: 640px) {
      letter-spacing: 0.5rem;
      margin-bottom: 11rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding: 0 14%;

    @media screen and (min-width: 920px) {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &__about {
    width: 100%;
    text-align: left;
    margin-bottom: 10rem;

    @media screen and (min-width: 920px) {
      padding-right: 10%;
      margin-bottom: 0;
    }
  }

  &__article {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  &__article-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__imgs {
    position: relative;
    width: 100%;
  }

  &__imgs-item {
    position: absolute;
    width: 40%;
    transition: all .2s ease-in;

    @media screen and (min-width: 920px) {
      width: 60%;
    }

    &:hover {
      transform: scale(1.2);
      outline: 1.5rem solid $color-primary;
      outline-offset: 2rem;
      z-index: 20;
    }

    &-1 {
      top: 0;
      left: 0;
    }

    &-2 {
      top: 10px;
      right: 0;

      @media screen and (min-width: 920px) {
        top: 30px;
      }
    }

    &-3 {
      top: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;

      @media screen and (min-width: 920px) {
        top: 90px;
      }
    }
  }
}