.header {
  position: relative;
  width: 100%;
  padding-top: 22rem;
  padding-bottom: 20rem;
  text-align: center;
  background-image: 
    linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url('../img/hero-small.jpg');
  background-size: cover;
  background-position: top;
  z-index: 80;

  @supports (clip-path: polygon(0 0)) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding-bottom: 15rem;
  }

  @media screen and (min-width: 640px) {
    padding-bottom: 40rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  @media screen and (min-width: 920px) {
    background-image: 
    linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url('../img/hero.jpg');
  }

  &__label {
    margin-bottom: 7rem;
    color: $color-white;
    text-transform: uppercase;
  }

  &__label-main {
    margin: 0;
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;

    @media screen and (min-width: 640px) {
      letter-spacing: 3.5rem;
    }
  }

  &__label-secondary {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.15rem;
  }
}

.main-logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 8rem;
}

.menu {
  &__btn {
    position: fixed;
    top: 5rem;
    right: 5rem;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 0;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 0 20px 1px rgba($color-black, .3);
    z-index: 100;

    @media screen and (min-width: 640px) {
      top: 6.5rem;
      right: 6.5rem;
      width: 84px;
      height: 84px;
    }

    &-icon {
      position: relative;
      display: block;
      width: 36px;
      height: 2px;
      margin: 30px auto 0;
      background-color: $color-black;
      transition: all .1s ease-in-out;

      @media screen and (min-width: 640px) {
        margin: 42px auto 0;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 36px;
        height: 2px;
        background-color: $color-black;
        transition: all .1s ease-in-out;
      }

      &::after {
        top: -10px;
      }
    
      &::before {
        bottom: -10px;
      }
    }

    &:hover &-icon::after {
      top: -12px;
    }

    &:hover &-icon::before {
      bottom: -12px;
    }
  }

  &__input {
    display: none;

    &:checked ~ .navigation-bg {
      transform: scale(100);
    }

    &:checked ~ .menu__btn .menu__btn-icon {
      background-color: transparent;
    }

    &:checked ~ .menu__btn .menu__btn-icon::after {
      top: 0;
      transform: rotate(45deg);
    }

    &:checked ~ .menu__btn .menu__btn-icon::before {
      bottom: 0;
      transform: rotate(-45deg);
    }

    &:checked ~ .navigation {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.navigation-bg {
  position: fixed;
  top: 7rem;
  right: 7rem;
  width: 42px;
  height: 42px;
  background-image: radial-gradient($color-primary-light, $color-primary-dark);
  border-radius: 50%;
  z-index: 90;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);

  @media screen and (min-width: 640px) {
    top: 8.6rem;
    right: 8.6rem;
  }
}

.navigation {
  position: fixed;
  top: 24rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  z-index: 1500;
  transform: translateX(-100%);
  transition: all .8s cubic-bezier(.75, -0.31, .25, 1.29);

  &__list {
    list-style: none;
    text-align: center;
  }

  &__number {
    margin-right: 3rem;
  }

  &__item-wrapper {
    margin-bottom: 1rem;
  }

  &__item {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 3.5rem;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .2s ease-in;
  }

  &__item:hover {
    color: $color-primary;
    background-position: 100%;
    transform: translateX(1rem);
  }
}