.reviews {
  position: relative;
  padding: 15rem 10%;
  text-align: center;

  &__title {
    margin-bottom: 8rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 0.5rem;

    @supports ((background-clip: text) or (-webkit-background-clip: text)) {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    }
  }

  &__item {
    @include clearfix;
    position: relative;
    width: 80%;
    margin: 0 auto 8rem;
    padding: 6rem 5%;
    background-color: rgba($color-white, 0.5);
    transform: skewX(0);

    @media screen and (min-width: 1200px) {
      transform: skewX(-20deg);
    }
  }

  &__item:hover &__image {
    transform: translateY(3rem) scale(1.6);
    filter: blur(3px) brightness(90%);

    @media screen and (hover: none) {
      transform: translateY(3rem) scale(2);
      filter: none;
    }
  }

  &__item:hover &__image-name {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &__image-wrapper {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 0 auto 5rem;
    overflow: hidden;
    border-radius: 50%;
    transform: skewX(0);

    @media screen and (min-width: 640px) {
      float: left;
      margin: 0 5rem 0 0;
      shape-outside: circle(50% at 50% 50%);
    }

    @media screen and (min-width: 1200px) {
      transform: skewX(20deg);
    }
  }

  &__image {
    transform: translateY(3rem) scale(2);
    transition: all .3s ease-in-out;
  }

  &__image-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-size: 1.8rem;
    color: $color-white;
    text-transform: uppercase;
    opacity: 0;
    transition: all .3s ease-in-out;

    @media screen and (hover: none) {
      display: none;
    }
  }

  &__wrapper {
    text-align: left;
    transform: skew(0deg);

    @media screen and (min-width: 1200px) {
      transform: skew(20deg);
    }
  }

  &__heading {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__review {
    font-size: 1.8rem;
  }
}