@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/global_scaffolding';
@import 'base/components';

@import 'layouts/header';
@import 'layouts/description';
@import 'layouts/features';
@import 'layouts/tours';
@import 'layouts/reviews';
@import 'layouts/book';
@import 'layouts/footer';
@import 'layouts/book_pop-up';
@import 'layouts/book_pop-up-small';